h1 {
    color: rgb(84, 32, 133);
    text-align: center;
    text-decoration: underline;
    font-family: 'calibri';


}



h2 {
    color: rgb(3, 234, 255);
    text-decoration: underline dashed;
    margin-left: 20px;
    display: inline-block;
    margin-top: 10px;
    background-color: rgb(3, 35, 69);
}

.nbar {
    padding: 10px;
}

#foot {
    color: black;
    background-color: rgba(0, 0, 0, 0);
}

h3 {
    color: rgb(55, 135, 196);
}

p {
    color: rgb(99, 212, 167);
    padding-left: 20px;
}

img {
    width: 300px;
    height: 200px;
    border: 2px solid white;
    border-radius: 10%;
    margin: 25px;


}

#ig {
    width: 300px;
    height: 200px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10%;
    margin: 25px;
}

button {
    background-color: aquamarine;
    padding: 5px 10px;
    font-size: 15px;

}

header {
    background-color: rgb(30, 181, 204);
    border-width: 5px;
    border-color: rgb(31, 79, 43);
    border-style: solid;
    box-sizing: border-box;
    border-top-style: double;
    border-bottom-style: double;
    border-radius: 30px;
}

main {
    background-color: rgba(41, 45, 81, 0.575);
    border: 3px double wheat;
    border-radius: 10px;
}

footer {
    background-color: rgb(30, 181, 204);
    border-width: 5px;
    border-color: rgb(31, 79, 43);
    border-style: solid;
    box-sizing: border-box;
    border-top-style: double;
    border-bottom-style: double;

    border-radius: 30px;
}


thead {
    color: rgb(118, 26, 26);
    background-color: aquamarine;
}

tbody {
    background-color: azure;
}

table {
    padding: 10px 25px;
}


ul {
    color: aliceblue;
}

div {
    color: azure;
}

textarea {
    background-color: rgb(0, 0, 0);
    color: rgb(51, 255, 0);
    margin: 20px;
}

input {
    color: rgb(25, 41, 45);
}

a {
    color: rgb(255, 0, 102);
    text-decoration: none;
    font-weight: bolder;
}

.sign {
    text-align: center;
}

nav {
    text-align: center;

}

html {
    background-color: rgb(9, 142, 100);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}




a:hover {
    text-decoration: underline;
}

td:hover,
input:hover,
button:hover {
    background-color: rgb(35, 207, 255);
}

button:active {
    background-color: red;
    color: white;
}

html::selection {
    background-color: rgba(61, 132, 30, 0.623);
}

#signtitle {
    display: block;
    margin-left: 0px;
    text-align: center !important;

}

`